/* App.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y:hidden
}

.site {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1; /* This allows it to take up the remaining space */
  overflow-y: auto;
}

.content {
  flex: 1;

}

/* Optional: Ensure the footer is at the bottom */
.Footer {
  margin-top: auto;
}
